@font-face {
font-family: "RecklessNeue-Book";
src: url("https://cdn.shopify.com/s/files/1/0853/2338/3078/files/RecklessNeue-Regular.woff2?v=1719542819") format("woff2");
}
@font-face {
font-family: "RecklessNeue-Light";
src: url("https://cdn.shopify.com/s/files/1/0853/2338/3078/files/RecklessNeue-Light_2505aaf8-0d9f-4c90-9422-e06ff2e75b0c.woff2?v=1719542819") format("woff2");
}
@font-face {
font-family: "WhyteInktrap-Bold";
src: url("https://cdn.shopify.com/s/files/1/0853/2338/3078/files/ABCWhyteInktrap-Bold.woff2?v=1719542819") format("woff2");
}
@font-face {
font-family: "HelveticaNowText-Regular";
src: url("https://cdn.shopify.com/s/files/1/0853/2338/3078/files/HelveticaNowText-Regular.woff2?v=1719381584") format("woff2");
}
@font-face {
font-family: "SelectaOT-Regular";
src: url("https://cdn.shopify.com/s/files/1/0853/2338/3078/files/SelectaTrial-Regular.woff2?v=1719542819") format("woff2");
}
@font-face {
font-family: "SelectaTrial-Bold";
src: url("https://cdn.shopify.com/s/files/1/0853/2338/3078/files/SelectaTrial-Bold.woff2?v=1719542818") format("woff2");
}
@font-face {
font-family: "WhyteInktrap-Medium";
src: url("https://cdn.shopify.com/s/files/1/0853/2338/3078/files/WhyteInktrap-Medium.woff2?v=1719485432") format("woff2");
}

.main-nav.svelte-yayh44 .contact-btn.svelte-yayh44 i.arrow.svelte-qae7ax.arrow--right {
    position: relative;
    top: 5px;
  left: 8px;
}
/*
.menu-section {
    display: none;
}
*/
.footer__content-bottom.scroll-trigger.animate--slide-in {
    display: none;
}
h2, h3 {
    line-height: 1.1em !important;
}
h2, h3 {
    letter-spacing: -0.2px !important;
}
.nav-group__head i.arrow {

    position: relative;
    top: 5px;
}
 p {
    letter-spacing: -0.2px !important;
}
.testimonialimage img {
    border-radius: 14px;
}
#shopify-section-template--21912772903206__image_with_text_ciAQUg h2 {
    letter-spacing: -2px !important;
}
#shopify-section-template--21912772903206__rich_text_dEUTWP h2 {
    letter-spacing: -2px !important;
}

.header__heading-logo-wrapper.scrolllogo {
    display: none;
}
ul#imagecolumn img {
    border-radius: 22px;
}
h2{
  font-family:WhyteInktrap-Bold !important;
}
.page-width {
    max-width: 1440px !important;
    padding: 0px 1.5rem;
}
header.header.header--middle-left.header--mobile-left.page-width.header--has-menu {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
/*
#shopify-section-template--21912772903206__image_with_text_bMUpL7 h2 {
    font-family: RecklessNeue-Light !important;
}
*/

sticky-header.header-wrapper.color-background-1.gradient.header-wrapper--border-bottom {
    background: #0000008c;
}
.section-template--21912772903206__image_with_text_bMUpL7-padding.gradient.color-accent-1 .image-with-text__grid.grid.grid--gapless.grid--1-col.grid--2-col-tablet {
    max-width: 985px;
}
nav.header__inline-menu {
    display: none;
}
.header__icons {
    display: none;
}
div#ImageWithText--template--21912772903206__image_with_text_bMUpL7 {
    padding: 0 7px 0px 60px;
}
.section-template--21912772903206__image_with_text_bMUpL7-padding.gradient.color-accent-1 .image-with-text__media-item.image-with-text__media-item--medium.image-with-text__media-item--bottom.grid__item {
    max-width: 44%;
    width: 44%;
}
p {
    line-height: 1.4em;
}
sticky-header.header-wrapper.color-accent-1.gradient, .header-wrapper.color-accent-1.gradient {
    position: fixed;
    width: 100%;
    background: #00000000;
}
div#menu-drawer {
    background: #f3f3ed;
}
header.header.header--middle-left.header--mobile-left.page-width.header--has-menu {
    padding-top: 10px;
    padding-bottom: 10px;
}
div#ImageWithText--template--21912772903206__image_with_text_bMUpL7 p {
    max-width: 425px;
}
.section-template--21912772903206__image_with_text_bMUpL7-padding.gradient.color-accent-1 {
    height: 880px;
    padding-top: 280px;
}
div#ImageWithText--template--21912772903206__image_with_text_ciAQUg {
    padding: 0px 50px 0px 60px;
}
.section-template--21912772903206__image_with_text_ciAQUg-padding.gradient.color-background-2 .image-with-text__media-item.image-with-text__media-item--medium.image-with-text__media-item--bottom.grid__item {
    max-width: 44.5%;
}
.section-template--21912772903206__image_with_text_ciAQUg-padding.gradient.color-background-2 .image-with-text {
    border: 1px solid #dcdcdc;
    padding-top: 55px;
    padding-bottom: 50px;
    border-bottom: 0px;
    border-radius: 25px 20px 0px 20px;
}
.section-template--21912772903206__image_with_text_ciAQUg-padding.gradient.color-background-2 .image-with-text::before {
    content: "";
    background: #f3f3eb;
    width: 20px;
    height: 100%;
    position: absolute;
    left: -10px;
    top: 6%;
}
.menu-section .font16 {
    text-transform: uppercase;
    font-family: WhyteInktrap-Bold !important;
    color: #f3f3eb;
    font-size: 15px;
    text-align: center;
    margin-bottom: 25px;
}

/* image section order chnage */

.section-template--21912772903206__image_with_text_NEyWtn-padding .image-with-text__grid>div,
.section-template--21912772903206__image_with_text_HcVwTh-padding .image-with-text__grid>div,
.section-template--21912772903206__image_with_text_cUjXWh-padding .image-with-text__grid>div{
    display: block;
}
.section-template--21912772903206__image_with_text_NEyWtn-padding .image-with-text__grid .image-with-text__media-item,
.section-template--21912772903206__image_with_text_HcVwTh-padding .image-with-text__grid .image-with-text__media-item,
.section-template--21912772903206__image_with_text_cUjXWh-padding .image-with-text__grid .image-with-text__media-item
{
    order: 2;
}
.section-template--21912772903206__image_with_text_NEyWtn-padding .caption-with-letter-spacing,
.section-template--21912772903206__image_with_text_HcVwTh-padding .caption-with-letter-spacing,
.section-template--21912772903206__image_with_text_cUjXWh-padding .caption-with-letter-spacing
{
    background: #2DE17A;
    color: #1f1919;
    font-size: 15px;
    font-family: WhyteInktrap-Bold;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 15px;
}
.section-template--21912772903206__image_with_text_NEyWtn-padding h2.image-with-text__heading.inline-richtext.h1,
.section-template--21912772903206__image_with_text_HcVwTh-padding h2.image-with-text__heading.inline-richtext.h1,
.section-template--21912772903206__image_with_text_cUjXWh-padding h2.image-with-text__heading.inline-richtext.h1{
    font-size: 45px;
    text-transform: uppercase;
}
.section-template--21912772903206__image_with_text_NEyWtn-padding .image-with-text__text.rte.body p,
.section-template--21912772903206__image_with_text_HcVwTh-padding .image-with-text__text.rte.body p,
.section-template--21912772903206__image_with_text_cUjXWh-padding .image-with-text__text.rte.body p{
    position: absolute;
    bottom: 0px;
    width: 485px;
    font-family: RecklessNeue-Book;
    font-size: 18px;
    color: #1f1919;
    line-height: 1.3em;
  letter-spacing:-0.2px !important;
}
.section-template--21912772903206__image_with_text_NEyWtn-padding div#ImageWithText--template--21912772903206__image_with_text_NEyWtn,
div#ImageWithText--template--21912772903206__image_with_text_HcVwTh,
div#ImageWithText--template--21912772903206__image_with_text_cUjXWh{
    padding: 0px;
}
div#shopify-section-template--21912772903206__image_with_text_HcVwTh .page-width {
    border: 1px solid #1f1919;
    border-left: 0;
    border-right: 0px;
  padding-top:36px;
  padding-bottom:36px;
}
.section-template--21912772903206__image_with_text_HcVwTh-padding.gradient.color-background-2 {
    padding: 0px;
}

/* big impact section*/
ul.numberbox {
    padding: 0px;
    list-style-type: none;
}
ul.numberbox li {
    text-align: center;
    padding: 0px 5px;
  width:24%;
}
h3.font42 {
    font-size: 42px;
    color: #000;
    text-transform: uppercase;
    font-family: 'WhyteInktrap-Bold';
    margin: 0px;
  letter-spacing:-2px !important;
}

ul.numberbox li .num {
    font-family: SelectaOT-Regular;
    font-size: 72px;
    color: #000;
    line-height: 1em;
    padding: 0px;
    margin: 0px;
  letter-spacing: -1px !important;
}
p.iptext {               
    font-family: RecklessNeue-Book;
    font-size: 21px;
    color: #000;
    text-align: center;
    max-width: 110px;
    margin: 10px auto 0px;
      letter-spacing: 0.4px !important;
}

ul#volenter li#col2 {
    max-width: 40%;
}
ul#volenter li#col1 {
    max-width: 60%;
}

/* trainee section  */
h2.font48 {
    font-size: 48px;
    text-align: center;
    color: #fff;
  letter-spacing:-2px !important;
}
.section-template--21912772903206__custom_liquid_8wnjad-padding {
    background: linear-gradient(180deg, black 65%, #f3f3eb 40%);
}
ul#trainee {
    max-width: 1200px;
    margin: 0px auto;
}

/* testimonial section */

ul#testimonial {
    border: 1px solid #A49898;
    padding: 55px;
    padding-bottom: 50px;
    border-left: 1px solid #A49898;;
    border-bottom: 0px;
    border-radius: 25px 20px 0;
    max-width: 1320px;
    margin: 0px auto;
}
ul#testimonial::before {
    content: "";
    background: #f3f3eb;
    width: 22px;
    height: 90%;
    position: absolute;
    left: -6px;
    top: 10%;
    border: 0px solid #a4989869;
}
ul#testimonial li#col2 {
    margin: auto;
}
ul#testimonial li#col1 {
    max-width: 40%;
}
p.wahtsay {
    font-size: 32px;
    color: #000;
    font-family: SelectaOT-Regular;
    letter-spacing: 0px;
    width: 540px;
    line-height: 1.2em;
}
p.postion {
    font-size: 21px;
    color: #000000;
    font-family: 'SelectaOT-Regular';
    letter-spacing: 0px;
}
ul#testimonial .slick-prev:before {
    content: "ttest";
    background: url(https://cdn.shopify.com/s/files/1/0853/2338/3078/files/BUTTON_LEFT.svg?v=1719469228);
    font-size: 50px;
    color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  opacity:1;
}
ul#testimonial .slick-next:before {
    content: 'ttest';
    background: url(https://cdn.shopify.com/s/files/1/0853/2338/3078/files/BUTTON_RIGHT.svg?v=1719469227);
    font-size: 50px;
    color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  opacity:1;
}
ul#testimonial .slick-prev, ul#testimonial .slick-next {
    top: auto;
    bottom: 100px;
}
ul#testimonial .slick-next {
    right: 48%;
}
ul#testimonial .slick-prev {
    left: auto;
    right: 53%;
  z-index: 9;
}
ul#trainee img {
    width: 100%;
}

/* join the community */
.jointeam h2 {
    font-family: SelectaTrial-Bold !important;
}
h2.font54 {
    font-size: 54px;
    color: #000;
      line-height: 1em;
  letter-spacing: -0.5px !important;
}
ul#imagecolumn li#col2 img {
    margin-bottom: 10px;
    margin-right: 11px;
}
ul#imagecolumn li#col2 {
    max-width: 61%;
}
ul#imagecolumn li#col1 {
    max-width: 41.5%;
}
ul#imagecolumn {
    column-gap: 15px;
}
ul#imagecolumn li#col1 img {
    width: 100%;
}

ul#imagecolumn li#col2 img:nth-child(2), ul#imagecolumn li#col2 img:nth-child(3) {
    width: 34.1%;
}
ul#imagecolumn li#col2 img:nth-child(1), ul#imagecolumn li#col2 img:nth-child(4) {
    width: 62.5%;
}
section#shopify-section-template--21912772903206__custom_liquid_mM9zAN .page-width {
    max-width: 1375px !important;
}

/* footer section */
.footer__content-bottom-wrapper.page-width.footer__content-bottom-wrapper--center {
    display: none;
}
button.c-btn {
    width: 100%;
    border: none;
    background-color: #2DE17A;
    padding: 12px 68px 12px 44px;
    border-radius: 36px;
    background-image: url(https://cdn.shopify.com/s/files/1/0853/2338/3078/files/Arrow.svg?v=1719473820);
    background-repeat: no-repeat;
    background-position: right 44px center;
    font-size: 90px;
    text-align: left;
    font-family: WhyteInktrap-Bold !important;
    color: #1f1919;
    height: 170px;
  letter-spacing: -5px !important;
}
section.footersecion .page-width {
    max-width: 1375px !important;
}
.page-width.footlinks li#col1 p {
    margin: 0px;
    position: relative;
    top: -24px;
    left: 11px;
}
.page-width.footlinks li#col1 {
    display: ruby;
}
.page-width.footlinks a, .page-width.footlinks p {
    font-size: 16px;
    color: #F3EDE4;
    text-decoration: none;
  font-weight:400;
  line-height:1.3em;
}
.footlinks li#col2 p {
    max-width: 259px;
  margin-top:0px;font-family: "RecklessNeue-Book";
}
.quklink a{font-family: "RecklessNeue-Book";}
.footlinks li#col2 p:nth-child(2){margin-top: 1.5rem;}
.footlinks li#col1 a {
    text-decoration: underline;
}
.page-width.footlinks {
    padding: 90px 1em 70px;
    padding-right: 10%;
}
ul.quklink {
    list-style-type: none;
    padding: 0;
}
.testimonialimage img {
    max-width: 100%;
    width: 100%;
}
ul#custbutonf a {
    background: #2de17a;
    color: #1f1919;
    font-size: 10px; text-transform: uppercase;
    font-family: SelectaTrial-Bold;
    width: 100%;
    display: block;
    padding: 14px 15px;
    text-align: center;
    border-radius: 9px;
}
ul#custbutonf {
    margin-top: 20px;
  max-width: 240px;
}

ul#trainee .slick-slide {
      margin: 0 15px;
  }

  /* the parent */
ul#trainee  .slick-list {
      margin: 0 -15px;
  }
ul#trainee .slick-prev, ul#trainee .slick-next {
    top: auto;
    bottom: 22px;
}
ul#trainee .slick-prev:before {
    content: "ttest";
    background: url(https://cdn.shopify.com/s/files/1/0853/2338/3078/files/BUTTON_LEFT.svg?v=1719469228);
    font-size: 50px;
    color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}
ul#trainee .slick-next:before {
    content: "ttest";
    background: url(https://cdn.shopify.com/s/files/1/0853/2338/3078/files/BUTTON_RIGHT.svg?v=1719469227);
    font-size: 50px;
    color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  opacity:1;
}
ul#trainee .slick-next {
    right: auto;
    left: 50%;
}
ul#trainee .slick-prev {
    left: 32%;
    right: auto;
}
nav.menu-drawer__navigation li a {
    font-family: 'WhyteInktrap-Medium';
    text-transform: uppercase;
}
.menu-section.colespmenu p.font16 {
    display: none;
}
.header__heading-logo-wrapper.scrolllogo img {
    filter: brightness(0.1) saturate(0%);
}
.section-template--21912772903206__image_with_text_NEyWtn-padding h2.image-with-text__heading.inline-richtext.h1, .section-template--21912772903206__image_with_text_HcVwTh-padding h2.image-with-text__heading.inline-richtext.h1, .section-template--21912772903206__image_with_text_cUjXWh-padding h2.image-with-text__heading.inline-richtext.h1
{
  color:#1f1919;
  letter-spacing:-2px !important;
}



@media(max-width:1199px){
header-drawer {
    display: block !important;
}
  header-drawer {
    opacity: 0;
    width:0px;
}
  .mobilemenu header-drawer {
    opacity: 1;
    width: auto;
}
  .mobilemenu {
    display: grid;
    text-align: center;
    justify-content: right;
}
  .mobilemenu .header__icon .icon {
    height: 6rem;
    width: 3rem;
  }
}

@media(max-width:1350px){
  .section-template--21912772903206__image_with_text_bMUpL7-padding.gradient.color-accent-1 .image-with-text__grid.grid.grid--gapless.grid--1-col.grid--2-col-tablet {
    max-width: 895px;
}
  div#ImageWithText--template--21912772903206__image_with_text_bMUpL7 {
    padding: 0 47px 0 30px;
}
  #shopify-section-template--21912772903206__image_with_text_bMUpL7 h2 {
    font-size: 50px !important;
  }
  ul#volenter li#col1 {
    max-width: 65%;
}
  ul#volenter li#col2 {
    max-width: 35%;
}
}
@media(max-width:1325px){
  ul#imagecolumn li#col2 img:nth-child(2), ul#imagecolumn li#col2 img:nth-child(3) {
    width: 33.1%;
}
  ul#imagecolumn li#col2 img:nth-child(1), ul#imagecolumn li#col2 img:nth-child(4) {
    width: 61.5%;
}
  ul#imagecolumn li#col1 img {
    width: 97%;
}
}


@media(max-width:980px){
  .section-template--21912772903206__image_with_text_bMUpL7-padding.gradient.color-accent-1 {
    height: 760px;
    padding-top: 280px;
}
  .section-template--21912772903206__image_with_text_NEyWtn-padding .image-with-text__text.rte.body p, .section-template--21912772903206__image_with_text_HcVwTh-padding .image-with-text__text.rte.body p, .section-template--21912772903206__image_with_text_cUjXWh-padding .image-with-text__text.rte.body p {
    width: 100%;
  }
      ul#volenter li#col1 {
        max-width: 100%;
        margin-top: 50px;
    }
  ul#testimonial li#col1 {
    max-width: 100%;
}
  p.wahtsay {
    width: 100%;
}
  ul#testimonial .slick-prev, ul#testimonial .slick-next {
    top: auto;
    bottom: 0px;
}
  ul#testimonial .slick-prev {
    left: auto;
    right: auto;
    z-index: 9;
}
  ul#testimonial .slick-next {
    right: auto;
    left: 20%;
}
  ul#imagecolumn li#col1 img {
        width: 100%;
    }
  ul#imagecolumn li#col2 {
    max-width: 100%;
}
  ul#imagecolumn li#col1 {
    max-width: 100%;
}
}

@media(max-width:767px){
  .section-template--21912772903206__image_with_text_bMUpL7-padding.gradient.color-accent-1 {
    height: auto;
    padding-top: 150px;
}
  ul#imagecolumn li#col1 img {
        width: 100%;
    }
  .section-template--21912772903206__image_with_text_bMUpL7-padding.gradient.color-accent-1 .image-with-text__media-item.image-with-text__media-item--medium.image-with-text__media-item--bottom.grid__item,
  .section-template--21912772903206__image_with_text_ciAQUg-padding .image-with-text__media-item.image-with-text__media-item--medium.image-with-text__media-item--bottom.grid__item{
    order: 2;
    margin-top: 40px;
}
      #shopify-section-template--21912772903206__image_with_text_bMUpL7 h2 {
        font-size: 36px !important;
        font-family: WhyteInktrap-Bold !important;
    }
  #shopify-section-template--21912772903206__image_with_text_bMUpL7 p {
    font-size: 16px;
}
  .section-template--21912772903206__image_with_text_bMUpL7-padding.gradient.color-accent-1 .image-with-text__grid.grid.grid--gapless.grid--1-col.grid--2-col-tablet {
        max-width: 100%;
    }
      div#ImageWithText--template--21912772903206__image_with_text_bMUpL7 {
        padding: 0 0px 0 0px;
    }
  .section-template--21912772903206__image_with_text_bMUpL7-padding.gradient.color-accent-1 .image-with-text__media-item.image-with-text__media-item--medium.image-with-text__media-item--bottom.grid__item {
    max-width: 100%;
    width: 100%;
    padding: 0px 0px 30px;
}
  .section-template--21912772903206__image_with_text_ciAQUg-padding.gradient.color-background-2 .image-with-text {
    border: 2px solid #A49898;
    /*border-left: 0;*/
    border-bottom: 0px;
  }
  div#ImageWithText--template--21912772903206__image_with_text_ciAQUg {
    padding: 0 10px 0 10px;
}
  .section-template--21912772903206__image_with_text_ciAQUg-padding.gradient.color-background-2 .image-with-text__media-item.image-with-text__media-item--medium.image-with-text__media-item--bottom.grid__item {
    max-width: 100%;
    padding: 0px 10px;
    margin-top:20px;
}
  #shopify-section-template--21912772903206__image_with_text_ciAQUg h2 {
    font-size: 32px !important;
    max-width: 170px;
}
  #shopify-section-template--21912772903206__image_with_text_ciAQUg p {
    font-family: HelveticaNowText-Regular;
    font-size: 14px !important;
  }
  #shopify-section-template--21912772903206__rich_text_dEUTWP h2 {
    font-size: 36px !important;
}
  .section-template--21912772903206__image_with_text_NEyWtn-padding .image-with-text__text.rte.body p, .section-template--21912772903206__image_with_text_HcVwTh-padding .image-with-text__text.rte.body p, .section-template--21912772903206__image_with_text_cUjXWh-padding .image-with-text__text.rte.body p {
   position: relative;
        margin-bottom: 20px;
        width: 100%;
        font-size: 16px;
        margin-top: -1.5rem;
    letter-spacing:-0.2px !important;
  }
  .section-template--21912772903206__image_with_text_ciAQUg-padding {
    padding-bottom: 30px;
}
  .section-template--21912772903206__rich_text_dEUTWP-padding {
    padding-bottom: 10px !important;
}
  .section-template--21912772903206__image_with_text_NEyWtn-padding h2.image-with-text__heading.inline-richtext.h1, .section-template--21912772903206__image_with_text_HcVwTh-padding h2.image-with-text__heading.inline-richtext.h1, .section-template--21912772903206__image_with_text_cUjXWh-padding h2.image-with-text__heading.inline-richtext.h1 {
    font-size: 24px;
    margin-bottom:5px;
  }
  .section-template--21912772903206__rich_text_dEUTWP-padding {
    padding-top: 10px;
    padding-bottom: 30px;
}
  .rich-text.content-container.color-background-2.gradient.rich-text--full-width.content-container--full-width.section-template--21912772903206__rich_text_dEUTWP-padding .rich-text__wrapper.rich-text__wrapper--left.page-width {
    width: 100%;
}
  ul#volenter li#col2 {
        max-width: 100%;
    }
  ul#volenter li#col1 {
        max-width: 100%;
    }
  h3.font42 {
    font-size: 36px;
    max-width: 190px;
}
  ul.numberbox li .num {
    font-size: 48px;
}
  p.iptext {
    font-size: 13px;
    text-align: left;
        max-width: 100%;
}
  ul.numberbox li {
    text-align: left;
    padding: 0 6px;
    width: 49%;
            margin-bottom: 25px;
}
  ul#volenter li#col1 {
    margin-top: 40px;
}
  ul#testimonial {
    padding: 30px 25px 55px;
        border: 1px solid #A49898;
        /*border-left: 0px;*/
        border-bottom: 0px;
  }
  ul#testimonial:before {
    height: 94%;
    top: 8%;
}
  p.wahtsay {
    width: 100%;
    font-size: 24px;
    margin-bottom:5px;
}
  p.postion {
    font-size: 14px;
    margin-bottom: 20px;
}
  ul#testimonial li#col1 img, ul#testimonial li#col1 {
    max-width: 100%;
    width: 100%;
}
  ul#testimonial {
    max-width: 100%;
}
  ul#testimonial li#col1 {
    order: 2;
}
  ul#testimonial .slick-prev, ul#testimonial .slick-next {
    top: auto;
    bottom: -10px;
}
ul#testimonial .slick-prev {
            right: auto;
        left: 25px;
}
  ul#testimonial .slick-prev:before {
    font-size: 43px;
    background-position: left;
}
  ul#testimonial .slick-next:before {
    font-size: 43px;
    background-position: left;
}
    ul#testimonial .slick-next {
        right: auto;
        left: 85px;
    }
    .jointeam h2 {
        font-family: WhyteInktrap-Bold !important;
        font-size: 36px;
        max-width: 280px;
    }
  ul#imagecolumn li#col2 {
    max-width: 100%;
}
  ul#imagecolumn li#col2 img:nth-child(1), ul#imagecolumn li#col2 img:nth-child(4) {
    width: 100%;
}
ul#imagecolumn li#col2 img {
    margin-bottom: 6px;
    margin-right: 0px;
}
  ul#imagecolumn li#col1 {
    max-width: 100%;
}
  ul#imagecolumn li#col2 img:nth-child(2), ul#imagecolumn li#col2 img:nth-child(3) {
    width: 48%;
}
  ul#imagecolumn li#col2 img:nth-child(3) {
    margin-left: 3%;
}
  button.c-btn {
    font-size: 24px;
    height: 80px;
    border-radius: 16px;
    background-size: 20px;
    /*max-width:340px;*/
    letter-spacing:-1px !important;
    background-position: right 20px center;
}
  .page-width.footlinks li#col1 p {
    top: 0px;
    left: 20px;
}
  .page-width.footlinks li#col1 {
    width: 100%;
    padding-bottom: 30px;
    display: flex;
}

  ul#custbutonf {
    display: flex;
    column-gap: 15px;        padding-left: 0;
}
  .grid--1-col-tablet-down ul#custbutonf .grid__item {
    width: 48% !important;
    max-width: 45% !important;
}
  ul#trainee {
    padding-bottom: 100px;
}
  .section-template--21912772903206__image_with_text_ciAQUg-padding.gradient.color-background-2 .image-with-text {
    padding-bottom: 0px;
  }
}

@media(max-width:500px){
  div#ImageWithText--template--21912772903206__image_with_text_bMUpL7 {
    padding-right: 22%;
}
  ul#trainee .slick-prev {
    left: 24%;
    right: auto;
}

}

@media (max-width: 400px) {
    ul#imagecolumn li#col2 img:nth-child(3) {
        margin-left: 2%;
    }
}

a#HeaderDrawer-free-trial {
    background: #2de17a;
    display: inline-block;
    border-radius: 9px;
    margin-left: 3rem;
    float: left;
    margin-top: 15px;
}
.nav-group__heading-inner span {
    letter-spacing: -0.2px;
}
span.nav-group__note {
    letter-spacing: -0.2px;
}



/*****************m-css**********************/
.powring-section .banner__heading{    max-width: 500px;}
.banner__media.media{background-color: transparent;}
.stock-section-banner1 .banner__media img{object-fit: contain;}
.stock-section-banner1 .image-with-text__text p,
.stock-section-banner1 .banner__text{    font-family: RecklessNeue-Book;
  color: #F3F3EB; line-height: 1.3;
  font-size: 24px;}
  .stock-section-banner1 .banner__heading {font-size: 64px;}
  .stock-section-banner1 .banner__text p{ font-size: 24px;   line-height: 1.4; max-width: 400px;} 
  .stock-section-banner1 .button{    text-transform: uppercase;
    letter-spacing: 0;
    font-family: SelectaOT-Regular; _color: #1f1919;
    font-size: 10px;} 
    .stock-rich-sec{
      font-family: SelectaOT-Regular;
      font-size: 32px;
      font-weight: 400;
      line-height: 35.2px;
      text-align: center;
      }
      .stock-option-sec .image-with-text__content {
        padding-left: 0; padding-top: 0;
    }
    .stock-option-sec .num{    background: #356CFC;}
    .stock-option-sec img{border-radius: 9px;}
    .num {    background: #2de17a;
      color: #1f1919;
      font-size: 15px;
      font-family: WhyteInktrap-Bold;
      height: 40px;
      width: 40px;
      line-height: 40px;
      text-align: center;display: block;
      border-radius: 50%;
      margin-bottom: 15px;    text-transform: uppercase;letter-spacing: -.2px ;
    }
    .stock-option-sec .image-with-text__heading + .image-with-text__text{font-size: 18px;font-family: "RecklessNeue-Book"; position: absolute;
      bottom: 0;
      color: #1f1919;width: 90%;
      line-height: 1.5em; 
      letter-spacing: -.2px !important;}
      .stock-option-sec .image-with-text__text--caption{
        font-family: RecklessNeue-Book;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.8px;
        letter-spacing: -0.03em; padding-bottom: 5px;;
        text-align: left;
        }
        div.section:last-child .stock-option-sec .image-with-text {
          border-bottom: 0 solid #1f1919;}
      .stock-option-sec .global-media-settings{border: 0;}
      .stock-option-sec .global-media-settings:after,
      .stock-option-sec .image-with-text:not(.image-with-text--overlap) .image-with-text__media-item:after{box-shadow: none; content: none;}
.img-abs-text{position: absolute; font-size: 48px;color: #fff;font-family: "WhyteInktrap-Bold"; left:50%; top: 50%; transform: translate(-50%, -50%); line-height: 48px; text-align: center;;}
.stock-option-sec .image-with-text{border-bottom: 1px solid #1f1919; padding-bottom: 3rem;}
.stock-multisec.multicolumn .title-wrapper-with-link {
  margin-top: 0;
  text-align: center;
  justify-content: center;
}
.stock-multisec .multicolumn-card__image-wrapper--half-width {
  width: 54%;
}
.last-sec-no-border.stock-option-sec .image-with-text{border-bottom: 0 solid #1f1919;}
.powring-section .banner__text{ font-family: "RecklessNeue-Book"; font-size: 12px;;}
.powring-section .button{text-transform: uppercase;
  letter-spacing: 0;
  font-family: SelectaOT-Regular;    background-color: #2de17a;     color: inherit;
  font-size: 10px;}
  .powring-section .button::after{content: none;}
  /* .powring-section .banner__heading{    max-width: 500px;} */
 .stock-multisec {    position: relative;z-index: 1;}
 /* .powring-section .banner__content{    top: 56%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 0;
  right: 0;
  height: auto;} */
  /* .page-stock-option .shopify-section-group-footer-group {
    margin-top: 24rem;} */
.multiblock-section .page-width{        padding-left: 5rem; padding-right: 5rem;}
.multiblock-section .multicolumn.background-primary .multicolumn-card {
  background: #1F1919; border-radius: 20px;    padding: 1rem 0 5rem;
}
.rate-sec .multicolumn-card__info .rte{ max-width: 80%;}
.multiblock-section .multicolumn-card__info h3{color: #F3F3EB; font-size: 64px;font-family: "WhyteInktrap-Bold"; padding: 0 3.5rem;line-height: 57.6px !important;}
.multiblock-section .rte p{_color: #F3F3EB; font-size: 14px;font-family: "RecklessNeue-Book";} 
.mwa-section.multicolumn .title-wrapper-with-link {
  justify-content: center; margin-bottom: 6rem;
}
.inline-sub_heading span{font-size: 64px;     line-height: 1.7;vertical-align: top;}
.mwa-section.multicolumn .page-width{padding-left: 5rem; padding-right: 5rem;}
.get-fll-sec .image-with-text__heading{font-size: 64px;;}
.multiblock-section li:nth-child(2).multicolumn-list__item .multicolumn-card {background-color: #356CFC;} 
.get-full-banner{position: relative;}
.get-full-banner .image-with-text .image-with-text__text-item>*{padding-bottom: 4rem; padding-left: 0;}
.get-full-banner::before{content: ""; background: url(mwa-b.png) no-repeat top right; position: absolute; top: 100px; width: 600px; right:0; height:calc(100% - 100px); background-size: 100% 100%;;}
.get-full-banner .image-with-text__media img{border-radius: 20px;}
.stock-section-banner1 .banner__box{ padding-left: 0;}
.multiblock-sec2 .page-width{padding-left: 1rem; padding-right: 1rem;}

.multiblock-sec2 .multicolumn-list__item.center .media--adapt img{    max-width: 435px;
  object-fit: contain;}
  .svg_icon {
    padding-top: 6rem;
}
.community-banner-sec1 .banner__media.media img{ object-fit: contain;
  max-width: 66%;
  right: 0;
  left: auto;
  top: 40px;
  height: calc(100% - 40px);
  object-position: right bottom;}
  .community-banner-sec1 .banner__box.content-container{    background-color: transparent;}
  .community-banner-sec1 .banner__content {
    padding-left: 2rem;
}
  .community-banner-sec1 .banner__box.content-container  {padding-bottom: 0;}
  .tab-title-wrap {
    display: flex;
    align-items: center;    border-bottom: 1px solid #1F1919;
    padding-bottom: 4rem;
    justify-content: center;
    gap: 30px;
    font-size: 16px;
    letter-spacing: 0;
}
.tab-title.active{text-decoration: underline; text-underline-offset: 8px; text-decoration-thickness: 1px;;}
.tab-title{cursor: pointer;font-family: "RecklessNeue-Book";
  font-size: 16px;}
  .article-card-wrapper .card__heading a {
    color: #1F1919;
    font-family: "WhyteInktrap-Bold";
    line-height: 22px;
    font-size: 20px;
}
.article-card__excerpt{font-family: "RecklessNeue-Book";
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px; padding: 8px 0;
  letter-spacing: -0.02em;    color: #1F1919;
}
.product-grid, .blog__posts{    gap: 20px;}
.article-card-wrapper .card .card__inner .card__media{    border-radius: 9px;}
.article-card-wrapper .card--card.gradient, .article-card-wrapper .card__inner.gradient{border-radius: 9px;}
.article-card-wrapper .card__information{padding-top: 2.7rem;}
.multiple-featured-blog .article-card-wrapper .card__inner.gradient,
.multiple-featured-blog .article-card-wrapper .card{--ratio-percent: 100% !important;}
.multiple-featured-blog .grid--3-col-desktop .grid__item {
  width: calc(33.33% - 14px);
  max-width: calc(33.33% - 14px);
}
.blog-event .article-card-wrapper .card__heading a{font-size: 48px;line-height: 1;font-family: "WhyteInktrap-Medium";}
.blog-event .card--standard>.card__content .card__information {
  padding-left: 4rem;
  padding-right: 4rem;
} 
.page-event .section+.section .banner-wrapper{padding:3rem 7rem; background-color: #f3f3eb;}

.blog .title-wrapper-with-link{justify-content: center;}
.blog .title-wrapper-with-link h2{font-size: 28px;}
.blog .page-width-desktop{padding-left: 1.5rem; padding-right: 1.5rem;;}
.blog .blog__posts .article-card .card__information {
  padding-left: 0;
  padding-right: 0;
}
.blog__posts .article-card__excerpt{padding: 0;}
.multicolumn-list__item.center .media--adapt img{    border-radius: 9px;}
.past-section .title-wrapper-with-link{justify-content: center;}
.past-section .title-wrapper-with-link h2{font-size: 36px;    padding-bottom: 1rem;}
.multicolumn-card__info h3{font-size: 14px; font-family: "RecklessNeue-Book";;}
.section .background-none .multicolumn-card__image-wrapper+.multicolumn-card__info {
  padding-top: 1.5rem;
}  
.featured-slider .card-article-event {width: 100%;
  flex-direction: row !important;
  align-items: center; 
  text-align: left;}

  .featured-slider .grid--1-col-desktop .article-card .card__content {
    text-align: left;
}
.card__heading a:after{pointer-events: none;}
time{font-family: "SelectaOT-Regular"; border-top: 1px solid; border-right: 1px solid; border-radius: 0 9px 0 0;    padding: 7px 7px 1px 0;
  margin-bottom: 1rem;
  display: inline-block;

} 
.event_address {
  font-size: 12px;
  font-family: SelectaOT-Regular;
}
.blog-event .article-card__excerpt{    font-size: 16px;
  margin: 0;}
  .blog-event .product-grid{padding-top: 10rem;;}

  /* .menu-section {
    display: none;
} */
.business-sec1 .image-with-text__heading{font-size: 64px; line-height: 1 !important;}
.business-sec1 .image-with-text__content{padding-left: 0;}
.business-sec1 .image-with-text__text p{    color: inherit;
    font-size: 16px;    max-width: 70%;}
    .business-sec1 .image-with-text__media-item {
      object-fit: contain;
      max-width: 66%;
      right: -54px;
      left: auto;
      top: 0;
      height: calc(100% - 40px);
      object-position: right;
  }
  .business-sec1 .image-with-text{position: static;}
  .business-sec1 {position:relative}
.border-none.stock-option-sec .image-with-text{border: 0;}
.title-centerd .sub-title,
.why-partner-sec .sub-title{text-align: center;}
.rate-sec .sub-title{    font-size: 16px;margin-bottom: 1.5
  rem;
  font-family: "RecklessNeue-Book";}
.title-centerd .title-wrapper-with-link,
.why-partner-sec .title-wrapper-with-link{justify-content: center;  font-size: 64px;  padding-bottom: 1rem;}
.why-partner-sec img{border-radius: 9px;}
.why-partner-sec .multicolumn-list h3{    font-size: 24px; line-height: 1;letter-spacing: -0.04em !important;
  font-family: WhyteInktrap-Medium;}
  .why-partner-sec .multicolumn-list p{font-size: 14px; line-height: 1.4;letter-spacing: -0.02em !important ; max-width: 90%; font-family: RecklessNeue-Book;}
  .why-partner-sec.background-none .slider .multicolumn-card__image-wrapper+.multicolumn-card__info{padding-left: .8rem;}
  .title-centerd .title-wrapper-with-link h2,
  .why-partner-sec .title-wrapper-with-link h2{font-size: 64px;    margin: 0;;}
  .multiblock-section .rate-sec .multicolumn-card__info .inline-sub_heading {
    font-size: 180px;padding: 0 0 5rem;
    line-height: 1.1 !important;
}
.Past-highlights .title-wrapper-with-link{    justify-content: center;}
.Past-highlights .title-wrapper-with-link h2{    font-size: 36px;}
.rate-sec slider-component{    margin-top: 4rem;}
.rate-sec .grid {
  column-gap: 3rem;
  row-gap: 3rem;
}

.rate-sec .grid--2-col-desktop .grid__item{        width: calc(50% - 1.5rem);
  max-width: calc(50% - 1.5rem);}
.rate-sec .multicolumn.background-none .multicolumn-card {
  border-radius: 12px;
  padding: 3rem 2rem;
}
.rate-sec.background-none .multicolumn-card__info{border-radius: 12px;}
.multiblock-section .rate-sec .multicolumn-card__info h3{font-size: 28px; padding: 0; letter-spacing: -0.04em;    color: #1F1919;   font-family: WhyteInktrap-Medium;    line-height: 1.4 !important;}
.multiblock-section .rate-sec .multicolumn-card__info .rte{font-size: 14px ; letter-spacing: -0.02em;font-family: "RecklessNeue-Book"; line-height: 20px;}
.multiblock-section .rate-sec .rte p{font-size: 14px ; max-width: 90%;}
.rate-sec.multicolumn.background-none .multicolumn-card{padding: 1rem; border-radius: 12px;;}
.trusted-by-sec .title-wrapper-with-link h2{font-size: 36px;}
.growth-section .rich-text__blocks {
  max-width: 100%;
}
.growth-section .rich-text__heading.rte{    font-size: 64px;}
.growth-section .rich-text__caption.subtitle{font-size: 16px;font-family: "RecklessNeue-Book";}
.growth-section .rich-text__heading.rte{
  padding-bottom: 3rem;}
  .growth-section .rich-text__text.rte{max-width: 1000px; margin:4rem auto;font-family: "RecklessNeue-Book";}
 .ready-to-sec .image-with-text__content {
    padding: 6rem 4rem 0;
}
.ready-to-sec img{border-radius: 12px;}
.ready-to-sec .grid--3-col-tablet .grid__item{width: calc(40% - var(--grid-desktop-horizontal-spacing)* 2 / 3);}
.image-with-text__text p{font-family: "RecklessNeue-Book";}
.ready-to-sec .image-with-text__content .image-with-text__text+.button{ font-family: "SelectaOT-Regular";  letter-spacing: -0.01em;  font-weight: 500; border: 0; color: #1F1919; font-size: 10px; text-transform: uppercase;
  background: #2DE17A;    margin-top: 2rem;}
  .ready-to-sec .image-with-text__text{font-size: 14px;}
  .ready-to-sec .button:not([disabled]):hover:after,
  .ready-to-sec .button:after{box-shadow: none; border: 0;}
  .ready-to-sec .image-with-text__heading {
    margin-bottom: 0;
    font-size: 48px;
    line-height: 1 !important;
}
.accordion summary .icon-caret{    height: 1.3rem;}
.cry-option-sec.stock-option-sec .num {
  background: #2DE17A;
}
.evet-besec .image-with-text__content{padding-top: 0; padding-bottom: 20rem;}
.evet-besec .image-with-text__text.rte.body {
  font-size: 16px;
  letter-spacing: 0;
  font-family: 'RecklessNeue-Book';
}
.evet-besec .newsletter-form__field-wrapper {
  width: 100%;    flex-direction: column;
  flex-wrap: wrap;    max-width: 100%; gap: 20px;
  display: flex;
}
.email-wrapper {
  max-width: 480px;
  width: 100%;
}
.evet-besec  .field-inner {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
button#Subscribe{background: #2DE17A;
  padding: 16px 24px 16px 24px;
  border-radius: 8px;
font-size: 10px;    width: 85px;
font-weight: 400;
line-height: 10px;
letter-spacing: -0.01em;font-family: "SelectaOT-Regular";

  }
  .evet-besec .image-with-text.image-with-text--no-overlap{
    border-top: 2px solid #1F1919;
    padding-top: 6rem;
    border-radius: 25px 25px 0 0;
    border-right: 2px solid #1F1919;
    padding-right: 3rem;
}
  .evet-besec .newsletter-form__field-wrapper .field__input{font-size: 14px;font-family: 'RecklessNeue-Book';}
  .evet-besec .field:after, .evet-besec .select:after, .evet-besec .customer .field:after, .evet-besec .customer select:after, 
  .evet-besec .localization-form__select:after{    border-radius: 4px; }
.evet-besec  .newsletter-form{max-width:100%}
.evet-besec .newsletter-form__button{ position: static;}
.evet-besec .email-wrapper {
  position: absolute;
  bottom: 0;
}
.collapsible-content summary:hover {
  background: transparent;
}
img {
  max-width: 100%;
}
.collapsible-content .accordion{        border-radius: 12px;}
.business-sec1 .page-width{padding-right: 0;  max-width: 100% !important;  padding-left: 5.5rem;}
.business-sec1 .image-with-text__media-item{right: 0;}

.support-sec1.stock-section-banner1 .banner__text p{    font-size: 16px;  } 
.support-sec1.stock-section-banner1 .banner__media img{      height: 90%;    top: auto; bottom: 0;  object-position: bottom right;}
.support-sec1 .banner__box{padding-bottom: 0;}
.support_section--wrap{background-color: #F3F3EB;}
.support_tabs--wrap {
  display: flex;
  align-items: flex-start;
  gap: 6rem;
}
.support_tabs--items-wrap .title{margin: 0;font-family: "RecklessNeue-Book"  !important; font-size: 32px;}  
.tab__link{font-family:RecklessNeue-Book;  padding: 5px 0;  font-size: 14px; cursor: pointer;}
.support_tabs--wrap-inner{width: 100%;}
.support_tab--link--wrap {
  width: 30%;
}
.support_tabs--items-wrap {
  padding: 0    0 3rem;
}
.support_tabs--items {padding-top: 1rem;
}
h3.acc_link {cursor: pointer; margin:2rem 0 0;padding: 25px 35px 25px 20px; border-radius: 12px; background-color: #fff; position: relative;font-family: "WhyteInktrap-Bold"; font-size: 20px;
}
h3.acc_link span{position: absolute; top: 25px; right: 20px;}
h3.acc_link.active span svg{    transform: rotate(180deg);}
.support_tabs--items .tab__content{margin:-3rem 0 0; padding: 2rem ;border-radius:0 0 12px 12px; background-color: #FFF;}
.tab__link.active {
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 9px;
}





@media screen and (min-width: 750px) and (max-width: 989px) {
  .support-sec1.stock-section-banner1 .banner__media img{    right: 0;    max-width: 62%;
    left: auto;}
 .stock-multisec .multicolumn-list.grid--2-col-tablet-down .grid__item {
      width: calc(33% - var(--grid-desktop-horizontal-spacing) / 2);
  }
  .multiblock-section .multicolumn-card__info h3{    font-size: 36px;    line-height: 40.6px !important;}
  .Past-highlights .grid--2-col-tablet-down .grid__item {
    width: calc(33.333% - 1.5rem);
    max-width: calc(50% - 1.5rem);
  }
}
 


@media (min-width:750px) and (max-width:1100px){
  .h0 {
    font-size: calc(var(--font-heading-scale)* 3.6rem);
}
.powring-section  .banner__heading.inline-richtext.h0 {
  max-width: 64%;
  margin: 2rem auto 1rem;
}
.page-event .section+.section .banner-wrapper {
  padding: 3rem 2rem;}
.powring-section .banner__media.media>img{object-fit: contain;}
.powring-section .banner__heading {
  max-width: 374px;
  font-size: 35px;
}
.blog-event .product-grid {
  padding-top: 2rem;
}
.blog-event .grid--2-col-tablet-down .grid__item {
  width: calc(100% - var(--grid-mobile-horizontal-spacing) / 2);
  max-width: calc(100% - var(--grid-mobile-horizontal-spacing) / 2);
}
.blog-event slider-component.page-width {
  padding: 0 1rem;
}
.blog-event .article-card-wrapper .card__heading a {
  font-size: 34px;
}
.blog-event .card--standard>.card__content .card__information {
  padding-left: 3rem;
  padding-right: 1rem;
}
.evet-besec .email-wrapper{      margin-top: 4rem;  max-width: 80%;}
.evet-besec  .image-with-text__heading{    font-size: 35px;}
.business-sec1 .image-with-text__media-item{    max-width: 100%;}
.why-partner-sec .multicolumn-list li{min-width: 250px; width: calc(33% - var(--grid-desktop-horizontal-spacing) / 2);max-width:calc(33% - var(--grid-desktop-horizontal-spacing) / 2);}
  .title-centerd .title-wrapper-with-link h2, .why-partner-sec .title-wrapper-with-link h2 {
    font-size: 40px;
    margin: 0;
    text-align: center;
}
.multiblock-section .rate-sec .multicolumn-card__info .inline-sub_heading {
  font-size: 100px;}
.business-sec1 .image-with-text__text p{    max-width: 100%;}
.business-sec1 .image-with-text__heading{padding-top: 60px;font-size: 42px;}
.business-sec1 .page-width{padding-left: 2rem;}
.business-sec1.stock-section-banner1 .image-with-text__grid{    align-items: flex-end;}
.business-sec1 .image-with-text__media-item{top: auto;height: 90%;  bottom: 0;}
.stock-option-sec .image-with-text__heading+.image-with-text__text{    position: static;    margin-top: 3rem;    font-size: 17px;}
.stock-option-sec .image-with-text__heading{    font-size: 35px;}

.section-logo_list slider-component .contains-card{    display: flex;
  flex-wrap: nowrap;
  overflow: auto;}
  .section-logo_list .grid--1-col-tablet-down .grid__item {
    width: 30%;
    max-width: 30%;
}
.growth-section .rich-text__heading.rte {
  font-size: 40px;
}
.ready-to-sec .image-with-text__heading{font-size: 35px;}
.ready-to-sec .image-with-text__content {
  padding: 4rem 2rem 0;
}
.ready-to-sec .image-with-text__text{    margin-top: 1rem;}
.accordion summary .icon-caret{top: calc(50% - .6rem);}
} 


@media (max-width:749px){
  .support_tab--link--wrap {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    overflow: auto;
}
.support_tabs--items {
  padding-top: 0;
}
.support_tabs--items-wrap .title{    font-size: 25px;}
h3.acc_link span{    right: 16px;}
.tab__link{width: 100%;
  white-space: nowrap;}
  h3.acc_link{    font-size: 16px;}
  .support_tabs--wrap{gap: 2rem;
    flex-direction: column;}
  .why-partner-sec .multicolumn-list li{min-width: 250px;}
  .title-centerd .title-wrapper-with-link h2, .why-partner-sec .title-wrapper-with-link h2 {
    font-size: 40px;
    margin: 0;
    text-align: center;
}
.image-with-text__text p{font-size: 16px;}
.collapsible-row-layout .accordion summary, .collapsible-row-layout .accordion .accordion__content {
  padding: 2rem;
}
.accordion .accordion__title{font-size: 17px;}
.why-partner-sec.multicolumn.background-none .slider.slider--mobile{        gap: 20px;}
.title-centerd.rate-sec slider-component .multicolumn-list{flex-direction: column;}
.rate-sec .grid--2-col-desktop .grid__item {
  width: calc(100% );
  max-width: calc(100%);
}
.why-partner-sec.background-none .slider .multicolumn-card__image-wrapper+.multicolumn-card__info {
  padding-left: 0;
}
.multiblock-section .rate-sec .multicolumn-card__info .inline-sub_heading {
  font-size: 100px;
  padding: 0 0 3rem;}
  .rate-sec.multicolumn.background-none .multicolumn-card {
    padding: 2rem;}
    .rate-sec .multicolumn-card__info .rte {
      max-width: 97%;
  }
  .business-sec1 .page-width{padding-left: 2rem;}
  .business-sec1 .image-with-text__heading {
    font-size: 40px;}
    .business-sec1 .image-with-text__media-item{    max-width: 100%;}
    .rate-sec.background-none .multicolumn-card__info{padding-bottom: 1rem;}
    .inline-sub_heading span {
      font-size: 40px;
      line-height: 1.5;}
  .section-logo_list slider-component .contains-card{    display: flex;
    flex-wrap: nowrap;
    overflow: auto;}
    .section-logo_list .grid--1-col-tablet-down .grid__item {
      width: 41%;
      max-width: 42%;
  }
  .ready-to-sec .image-with-text__grid{flex-direction: column;}
  .footlinks > .multicolumn-list > li {
    margin-bottom: 30px;
}
.ready-to-sec .grid--3-col-tablet .grid__item {
  width: calc(100% - var(--grid-desktop-horizontal-spacing)* 2 / 3);
}
.growth-section .rich-text__heading.rte {
  font-size: 40px;
}
.growth-section .rich-text__wrapper{padding: 0;}
.growth-section .rich-text__text.rte{margin: 1rem auto;}
.ready-to-sec .image-with-text__content {
  padding: 4rem 0rem 0;
}
.ready-to-sec .image-with-text__heading{    font-size: 35px;}
.page-width.footlinks {
  padding: 60px 10% 4px 1em;
}
  .event-sec1 .banner__box {
    padding: 2rem 1.5rem;}
  .evet-besec .email-wrapper {
    position: static;
  }
 .Past-highlights .grid--2-col-tablet-down .grid__item {
    width: calc(100% - var(--grid-mobile-horizontal-spacing) / 2);
    max-width: calc(100% - var(--grid-mobile-horizontal-spacing) / 2);
}
  .evet-besec .image-with-text.image-with-text--no-overlap{     padding-top: 4rem;   padding-right: 2rem;}
  .evet-besec .image-with-text__content{    padding: 2rem 0;}
  .community-banner-sec1 .banner__media.media img{    left: 0;
    right: 0;    max-width: 100%;
    margin: auto;}
  .product-grid, .blog__posts {
    gap: 10px;
}
.blog-event .product-grid {
  padding-top: 1rem; 
} 
.blog-event .grid--2-col-tablet-down .grid__item {
  width: calc(100% - var(--grid-mobile-horizontal-spacing) / 2);
  max-width: calc(100% - var(--grid-mobile-horizontal-spacing) / 2);
}
.Past-highlights .grid--2-col-tablet-down .grid__item {
  width: calc(100% - var(--grid-mobile-horizontal-spacing) / 2);
  max-width: calc(100% - var(--grid-mobile-horizontal-spacing) / 2);
}
.blog-event .card--standard>.card__content .card__information {
  padding-left: 1rem;
  padding-right: 1rem;
}
.blog-event .article-card-wrapper .card__heading a {
  font-size: 30px;}
.featured-slider .card-article-event{    flex-direction: column !important;}
.page-event .section+.section .banner-wrapper {
  padding: 3rem 1rem;}
  .multiple-featured-blog .collection .heading .title{    font-size: 30px;
    text-align: center;}
    .multiple-featured-blog .grid--3-col-desktop .grid__item {
      width: calc(50% - 5px);
      max-width: calc(50% - 5px);
  }
  .community-banner-sec1.stock-section-banner1 .banner__heading {
    color: #fff;
}
.community-banner-sec1.stock-section-banner1 .banner__text p{        max-width: 100%;}
   .page-width slider-component.page-width {
    padding: 0;
}
  .stock-option-sec .image-with-text__heading+.image-with-text__text{position: static;;}
  .get-full-banner:before{     background-position: bottom right;   background-size: contain;}
  .stock-section-banner1 .image-with-text__grid,
  .stock-section-banner1.banner:not(.banner--stacked) {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding-top: 6rem;
}
.get-full-banner .image-with-text .image-with-text__text-item>*{    padding-top: 0;}
.multiblock-sec2 .slider-mobile-gutter .multicolumn-list{   gap: 2rem; flex-direction: column;
  width: 100%;}
  .multiblock-sec2 .slider-mobile-gutter .multicolumn-list__item {width: 100%;
    max-width: 100%;}
    .svg_icon {
      padding-top: 3rem;
  }
    .multiblock-section .multicolumn-card__info h3{font-size: 50px;    padding: 0;}
.stock-section-banner1.get-full-banner .image-with-text__grid{padding-top: 0;}
.stock-section-banner1 .banner__box {
  padding: 4rem 1rem;
  text-align: center;
}
.stock-section-banner1 .banner__heading {
  font-size: 36px;
}
.stock-section-banner1 .banner__text p {
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
}
.stock-rich-sec p{    font-size: 22px;}
.stock-rich-sec .rich-text__wrapper{    padding: 0;}
.pro-text {
  font-size: 24px;
}
.num{    margin-bottom: 6px;}
.stock-option-sec .image-with-text .grid {
  margin-bottom: 0;
  flex-direction: column-reverse;
  gap: 20px;
  
}
.img-abs-text{    font-size: 32px;    width: 100%;}
.stock-multisec .multicolumn.background-none .multicolumn-card{    margin-bottom: 3rem;}
}

